<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_Back_CityScape_Blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,184}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{512,184}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ctm_Back_CityScape_Blue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{512,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{512,152}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>ctm_CityCloud_Blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,340},{46,22}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,27},{46,22}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ctm_CityCloud_Blue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{74,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{74,32}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ctm_CityCloud_Blue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,430},{62,46}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,4},{62,46}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>ctm_CityCloud_Blue_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{88,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{88,38}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CityBG02_Blue.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f9e4669af845291148429e953f7170f$</string>
            <key>textureFileName</key>
            <string>CityBG02_Blue.png</string>
        </dict>
    </dict>
</plist>
