<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctm_SpacePoster_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,354},{252,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{252,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_SpacePoster_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{252,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{252,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_SpacePoster_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,178},{252,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{252,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_SpacePoster_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{252,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{252,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_SpacePoster_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{252,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_SpacePoster_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{252,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ctm_Space_Buggy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,658},{86,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,59}}</string>
                <key>sourceSize</key>
                <string>{86,59}</string>
            </dict>
            <key>ctm_Space_Buggy02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,746},{82,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,46}}</string>
                <key>sourceSize</key>
                <string>{82,46}</string>
            </dict>
            <key>ctm_Space_Mercury1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,969},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>ctm_Space_Mercury1small.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,656},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>ctm_Space_Satelite01.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,648},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>ctm_Space_Satelite02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{53,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>ctm_Space_Satelite03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,746},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>ctm_Space_Satelite04.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,718},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>ctm_Space_Shuttle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,831},{70,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,126}}</string>
                <key>sourceSize</key>
                <string>{70,126}</string>
            </dict>
            <key>ctm_Space_module01.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,530},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>ctm_Space_nasa01.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,832},{59,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,127}}</string>
                <key>sourceSize</key>
                <string>{59,127}</string>
            </dict>
            <key>ctm_Space_nasa02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,681},{33,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,127}}</string>
                <key>sourceSize</key>
                <string>{33,127}</string>
            </dict>
            <key>ctm_Space_nasa03.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,810},{19,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,122}}</string>
                <key>sourceSize</key>
                <string>{19,122}</string>
            </dict>
            <key>ctm_Space_nasa04.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,530},{31,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,86}}</string>
                <key>sourceSize</key>
                <string>{31,86}</string>
            </dict>
            <key>ctm_space_Retro01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,530},{42,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,126}}</string>
                <key>sourceSize</key>
                <string>{42,126}</string>
            </dict>
            <key>ctm_space_Retro02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{63,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,149}}</string>
                <key>sourceSize</key>
                <string>{63,149}</string>
            </dict>
            <key>ctm_space_Retro03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{72,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,149}}</string>
                <key>sourceSize</key>
                <string>{72,149}</string>
            </dict>
            <key>ctm_space_Retro04.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,961},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
            <key>ctm_space_Retro05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{53,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,135}}</string>
                <key>sourceSize</key>
                <string>{53,135}</string>
            </dict>
            <key>ctm_space_saucer01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,618},{71,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,36}}</string>
                <key>sourceSize</key>
                <string>{71,36}</string>
            </dict>
            <key>ctm_space_saucer02.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,530},{73,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,40}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>ctm_space_saucer03.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,648},{68,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,27}}</string>
                <key>sourceSize</key>
                <string>{68,27}</string>
            </dict>
            <key>ctm_space_saucer04.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,605},{69,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,41}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>ctm_space_saucer05.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,530},{69,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,30}}</string>
                <key>sourceSize</key>
                <string>{69,30}</string>
            </dict>
            <key>ctm_space_saucer06.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,746},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spaceBG.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:874ba520dde7c07dae64558f6704e3b6$</string>
            <key>textureFileName</key>
            <string>spaceBG.png</string>
        </dict>
    </dict>
</plist>
