<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array/>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-06-23T22:22:22Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2ChainAndCircleContact.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpVect.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCEditBox.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Joint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/SkeletonJson.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBSequence.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CDOpenALSupport.m</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Settings.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Contact.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpPivotJoint.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpBB.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/spine-cocos2dx.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCEditBoxImplIOS.mm</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/spine.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpRatchetJoint.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/json_batchallocator.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/libwebsockets.a</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBReader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/chipmunk_unsafe.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCMenuItemLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/SimpleAudioEngine.mm</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2ContactManager.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCSorting.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2DistanceJoint.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCNodeLoaderLibrary.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Timer.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpShape.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCPhysicsWorld.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCParticleSystemQuadLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2GrowableStack.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Atlas.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/HttpClient.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCNodeLoaderListener.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpBody.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Animation.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2DynamicTree.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCTableViewCell.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2BroadPhase.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/AttachmentLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/SlotData.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/reader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/AssetsManager.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2EdgeShape.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2StackAllocator.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCLayerGradientLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCInputDelegate.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Settings.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/json_internalmap.inl</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBSequence.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCTweenFunction.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCTransformHelp.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2RevoluteJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/json_lib.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCTweenFunction.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Export.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2BroadPhase.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/AnimationState.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2PrismaticJoint.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Body.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/util.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlUtils.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpDampedRotarySpring.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlSlider.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/chipmunk_private.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCLayerLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2PolygonShape.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/ExtensionMacros.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Rope.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CDOpenALSupport.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCNode+CCBRelativePositioning.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2FrictionJoint.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlPotentiometer.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCTween.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCDecorativeDisplay.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlButtonLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2CircleShape.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/AssetsManager.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCTableView.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCSkeletonAnimation.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpSpaceStep.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCNodeLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/AnimationStateData.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Contact.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCPhysicsSprite.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpGearJoint.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlPotentiometer.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCSkin.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Timer.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCArmature.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2BlockAllocator.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCEditBox.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Skin.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Atlas.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/chipmunk_ffi.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlSaturationBrightnessPicker.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBSequenceProperty.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Distance.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpSweep1D.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCSpriteFrameCacheHelper.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCScale9SpriteLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2EdgeAndPolygonContact.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCLayerColorLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CocosDenshion.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2StackAllocator.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBAnimationManager.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2PolygonContact.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpSpace.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpHashSet.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCScrollView.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CSContentJsonDictionary.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/writer.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Math.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCScale9Sprite.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2CollideEdge.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpVect.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCEditBoxImplIOS.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCScale9SpriteLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpPivotJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCProcessBase.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCShaderNode.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/value.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2RopeJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/SkeletonData.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2WheelJoint.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBFileLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpDampedSpring.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCSpriteLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCScrollViewLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCSpriteFrameCacheHelper.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/SkeletonData.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCComController.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/extension.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCTableViewCell.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2CircleShape.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCTween.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpBody.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpGearJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpGrooveJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpConstraint.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/AnimationStateData.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpSpaceComponent.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCData.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCMenuItemImageLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2MouseJoint.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/GLES-Render.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/json_reader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpSimpleMotor.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Collision.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCDatas.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2EdgeAndPolygonContact.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Bone.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/spine-cocos2dx.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/json_internalarray.inl</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCColliderDetector.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpDampedSpring.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCPhysicsDebugNode.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCArmatureDefine.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCNodeLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2World.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCLayerColorLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CDConfig.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCNodeLoaderLibrary.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpPolyShape.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCTableView.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCTransformHelp.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBMemberVariableAssigner.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCProcessBase.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBValue.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBSequenceProperty.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Box2D.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Shape.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Animation.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpRotaryLimitJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/SimpleAudioEngine_objc.m</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/WebSocket.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2ContactSolver.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCLabelTTFLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CDAudioManager.m</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/SimpleAudioEngine.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/json_tool.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlColourPicker.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlStepper.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlExtensions.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCArmatureDataManager.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCConstValue.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCDataReaderHelper.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2CircleContact.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCLayerGradientLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCUtilMath.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCColliderDetector.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlColourPicker.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Draw.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2WeldJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2CollidePolygon.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/libwebsockets.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCDecorativeDisplay.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2TimeOfImpact.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBKeyframe.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2PolygonShape.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Attachment.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2TimeStep.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCDisplayFactory.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCDisplayFactory.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2World.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpSpatialIndex.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Slot.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpPolyShape.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCComAttribute.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCEditBoxImpl.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCSkeleton.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2PolygonAndCircleContact.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CDAudioManager.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2FrictionJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpPinJoint.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCDataReaderHelper.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Json.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cocos-ext.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2ContactManager.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/AtlasAttachmentLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/autolink.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpShape.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCTexture2DMutable.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCComAttribute.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2DistanceJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Bone.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/chipmunk.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/sconscript</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/config.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCInputDelegate.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Skin.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCUtilMath.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCScale9Sprite.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpConstraint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCArmatureAnimation.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/BoneData.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpDampedRotarySpring.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCNode+CCBRelativePositioning.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/chipmunk.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCTexture2DMutable.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/GLES-Render.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBKeyframe.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpSpatialIndex.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2PulleyJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCInvocation.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCLayerLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpPinJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Distance.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Body.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlSlider.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCMenuItemLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/WebSocket.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCSpriteLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2PrismaticJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/json_writer.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCShaderNode.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Skeleton.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2GearJoint.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2ContactSolver.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CSContentJsonDictionary.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpBBTree.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Skeleton.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2ChainAndPolygonContact.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2EdgeShape.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2ChainAndPolygonContact.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2WorldCallbacks.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Island.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpArray.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlHuePicker.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCParticleSystemQuadLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCDisplayManager.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/forwards.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/SkeletonJson.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCPhysicsDebugNode.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/BoneData.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Json.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBone.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBSelectorResolver.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/SlotData.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/json_value.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Island.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBFileLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/RegionAttachment.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlSwitch.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2WeldJoint.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCSkeletonAnimation.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/HttpResponse.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBatchNode.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBValue.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2WheelJoint.h</string>
		<string>/Users/administrator/Desktop/depot/cocos2dx/platform/third_party/ios/libraries/libcurl.a</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Attachment.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCEditBoxImplAndroid.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBAnimationManager.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CocosDenshion.m</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2RevoluteJoint.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpSlideJoint.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/json_valueiterator.inl</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/SimpleAudioEngine_objc.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2EdgeAndCircleContact.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2PulleyJoint.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/AttachmentLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/HttpClient.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCScrollViewLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Math.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCMenuItemImageLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/features.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpSpace.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/AnimationState.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Collision.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCInvocation.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpArbiter.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCPhysicsWorld.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2DynamicTree.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlSaturationBrightnessPicker.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControl.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/chipmunk_types.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2ChainShape.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/AtlasAttachmentLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCDisplayManager.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Fixture.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCLabelBMFontLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/Slot.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2ChainAndCircleContact.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControl.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpRotaryLimitJoint.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpArbiter.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/extension.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/HttpRequest.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2TimeOfImpact.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlHuePicker.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2CircleContact.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Draw.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/sigslot.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBatchNode.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCArmatureAnimation.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2EdgeAndCircleContact.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Joint.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlButtonLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlUtils.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/RegionAttachment.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlButton.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCDatas.h</string>
		<string>/Users/administrator/Desktop/cocos2dx/proj.ios/cocos2dx.xcodeproj</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2PolygonAndCircleContact.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2RopeJoint.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCSkin.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpGrooveJoint.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCLabelTTFLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Rope.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpSpaceHash.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/prime.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpSimpleMotor.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpSpaceQuery.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2BlockAllocator.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCMenuLoader.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCScrollView.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCData.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2PolygonContact.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCArmatureDataManager.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2GearJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlButton.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CMakeLists.txt</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2WorldCallbacks.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBone.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2ChainShape.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCArmature.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCEditBoxImplAndroid.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCSkeleton.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpBB.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlSwitch.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpRatchetJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCLabelBMFontLoader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCControlStepper.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCComAudio.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2MouseJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpCollision.c</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/cpSlideJoint.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2Fixture.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCSorting.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCBReader.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCPhysicsSprite.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCComController.h</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/b2CollideCircle.cpp</string>
		<string>/Users/administrator/Desktop/depot/CrashTestMonkeys/proj.ios/CCComAudio.h</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
